/* #region Importovani fontovi */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* #endregion */

/* #region CSS Reset */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* #endregion */

/* #region *, Quickfix, HTML & body */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Montserrat", sans-serif;
    font-weight: 500; */
}

/* Quickfix za whitespace sa desne strane websitea */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

/* #endregion */

/* #region Navbar */
header {
    /* filter: drop-shadow(0 0 0.75rem rgba(0, 119, 182, 1)); */
    filter: drop-shadow(0px 15px 10px #000000);
    position: relative;
    z-index: 1;
}

li,
.navbar-link,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #111111;
    width: 100%;
    height: 150px;
}

.logo {
    cursor: pointer;
    border-radius: 50%;
    height: 150px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-icon {
    display: none;
    border: none;
    color: #edf0f1;
    cursor: pointer;
    background-color: rgba(0, 119, 182, 1);
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #24252A;
    overflow: hidden;
}

.nav_links li {
    padding: 15px 20px;
    line-height: 2;
}

.nav_links li:last-child {
    border-bottom: none;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 119, 182, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 119, 182, 0.8);
}


@media screen and (max-width: 1060px) {
    .menu-icon {
        display: block;
        background-color: rgba(0, 119, 182, 1);
    }


    .nav_links {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #24252A;
        margin-top: 80px;
        border-bottom: 1px solid #48505A;
    }

    .nav_links.show {
        display: flex;
        flex-direction: column;
    }
}



/* #endregion */

/* #region Footer */

.footer {
    background-color: #111111;
    font-family: "Roboto Condensed", sans-serif;
}

.footer-div {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: space-around;
    align-items: start;
}

.footer-section {
    background-color: #111111;
    padding-top: 10px;
    text-align: center;
}

.footer-icon {
    text-align: center;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}


.footer-icon-text {
    color: white;
    padding-top: 10px;
    font-size: 20px;
    /* Adjust font size for smaller screens */
    font-weight: 400;
}

.footer-text {
    color: white;
    padding-top: 10px;
}

.footer-subtext {
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
}

.footer a {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

#portfolio {
    display: block;
    color: white;
    padding-top: 10px;
    font-size: 20px;
    /* Adjust font size for smaller screens */
    font-weight: 400;
}

.copyright {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid white;
    width: 90%;
    margin: 0 auto;
}

#pls {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

.instagram {
    display: block;
    padding: 0px;
    padding-bottom: 5px;
}

.instagram-for-margin {
    margin-bottom: 8px;
}

/* Media query for screens with a maximum width of 938px */
@media screen and (max-width: 938px) {
    .footer-div {
        flex-direction: column;
        /* Change to a column layout for smaller screens */
        align-items: center;
    }

    .footer-icon {
        margin-top: 10px;
        /* Adjust spacing for smaller screens */
    }


    .copyright {
        margin-top: 20px;
    }
}

/* #endregion */

/* #region PORTFOLIO CSS */

.portfolio-pozadina {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 119, 182, 1));
    background-image: url('./Slike/image.webp');
    background-size: cover;
    background-position: center;
}

.portfolio-pozadina-tekst {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-weight: 600;
}

.portfolio-body {
    background-color: #001d3d;
}

.cars-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cars-container-padding-bottom {
    padding-bottom: 80px;
}

.card {
    background-color: white;
    width: 370px;
    /* height: 400px; */
    margin: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Added to space items vertically */
}

.card-image {
    height: 350px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
}

.car-1 {
    background-image: url('./Slike/merc-dzip.webp');
}

.car-2 {
    background-image: url('./Slike/skodilak.webp');
}

.car-3 {
    background-image: url('./Slike/audi.webp');
}

.card h2 {
    margin-top: -55px;
    padding: 10px;
    text-align: start;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
}


.card-hover:hover {
    /* background-color: gray; */
    transform: scale(1.03);
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem rgba(0, 119, 182, 1));
    transition: all 0.5s ease;
}

.title {
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 500;
    padding-top: 80px;
}

.portfolio-footer {
    /* border-top: 1px solid white; */
    /* width: 90%; */
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
}

.portfolio-copyright {
    width: 100%;
    margin: 0 auto;
}

.card-link {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.portfolio-footer-div {
    padding-bottom: 10px;
}

.bike-1 {
    background-image: url('./Slike/bmw/bmw-cover.webp');
}

.bike-2 {
    background-image: url('./Slike/bmw-xr/bmw-xr-cover.jpg');
}

.bike-3 {
    background-image: url('./Slike/suza/suzuki-cover.jpg');
}

.quad {
    background-image: url('./Slike/quad.jpg');
}

.caddy {
    background-image: url('./Slike/caddy.avif');
}

.truck {
    background-image: url('./Slike/truck.jpg');
}

.seat-1 {
    background-image: url('./Slike/sjediste-1.webp');
}

.seat-2 {
    background-image: url('./Slike/sjediste-2.webp');
}

.interior-1 {
    background-image: url('./Slike/interijer-1.png');
}

.interior-2 {
    background-image: url('./Slike/interijer-2.png');
}

.far-1 {
    background-image: url('./Slike/farovi-2.webp');
}

.far-2 {
    background-image: url('./Slike/farovi-1.webp');
}


@media screen and (max-width: 520px) {
    .title-responsive {
        font-size: 35px;
    }
}

/* #region Responzivan dio */
@media screen and (max-width: 1220px) {
    .portfolio-pozadina-tekst {
        font-size: 50px;
        font-weight: 500;
    }
}

@media screen and (max-width: 920px) {
    .portfolio-pozadina-tekst {
        font-size: 40px;
        font-weight: 400;
    }
}

@media screen and (max-width: 500px) {
    .portfolio-pozadina {
        font-size: 40px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
}

/* #endregion */

/* #endregion */

/* #region ABOUT CSS */

body {
    background-color: #2b2d42;
}

.about-main {
    background-color: #001d3d;
}

.about-container-whole {
    position: relative;
}

.first-about {
    /* background-color: #00406c; */
    padding-bottom: 30px;
    position: relative;
}

.second-about {
    padding: 0px 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
    position: relative;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in-visible {
    opacity: 1;
}


.about-us {
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding-top: 100px;
}

#about-us-first {
    margin-bottom: 20px;
}

.div-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    padding-bottom: 100px;
}

.card-about {
    text-align: center;
    background-color: #011627;
    width: 350px;
    /* height: 400px; */
    margin: 30px 20px;
    border-radius: 15px;
}


.paragraph-about {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 20px 20px;
}


.icon-about {
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    /* Adjust the icon size as needed */
    margin-top: 20px;
    /* margin-bottom: 10px; */
    /* Add some space between the icon and the paragraph */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team-div img {
    height: 300px;
}


.team-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-div p {
    text-align: center;
    padding-top: 10px;
    color: gainsboro;
    font-family: "Montserrat", sans-serif;
    opacity: 0.5;
}

#peza-opis {
    margin-left: 50px;
    width: 400px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1.2;
}

.google-api-container {
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}

#google-api {
    height: 400px;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.about-us3 {
    padding-bottom: 20px;
}

/* #region User reviews */

.user-reviews-container {
    width: 100%;
    /* height: 400px; */
    /* display: flex;
    justify-content: center; */
    position: relative;
}

.user-reviews {
    background-image: url('./Slike/bmw-e46.webp');
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
}

.reviews-main {
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: 50px;
}

.main-paragraph {
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 10px 20px;
}

.reviews-paragraph p {
    font-family: "Roboto Mono", sans-serif;
    font-size: 15px;
    color: white;
    padding: 10px 10px;
}

.reviews-img {
    background-image: url('./Slike/meks.jpg');
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 200px;
    border-radius: 50% 50%;
    overflow: hidden;
    margin-left: 40px;
}

.user-review-flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

/* #endregion User reviews */
/* #region Gornji wave */
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.wave .shape-fill {
    fill: #003566;
}

/* #endregion Gornji wave */
/* #region Donji wave */
.wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.wave-bottom .shape-fill {
    fill: #003566;
}

/* #endregion Donji wave */

.cta-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cta-buttons {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
    font-family: "Kode Mono", monospace;
}

.buttons-style {
    height: 80px;
    width: 250px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 10px;
    font-size: 30px;
    text-align: center;
}


.kontaktirajte-nas {
    font-size: 30px;
    text-align: center;
}






/* #region Glowing CTA buttons */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* #endregion Glowing CTA buttons */

.cta-button-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 320px;
    text-decoration: none;
    background-color: gray;
    color: white;
    margin: 20px 80px;
    cursor: default;
}

/* Stilizovanje ikonica na prvom dijelu stranice 'O nama' */
.large {
    margin-top: -50px;
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
    background-color: #011627;
    height: 70px;
    width: 20%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Za centriranje ikonica unutar kruga na prvom dijelu stranice 'O nama' */
.icon-about i {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 920px) {
    .second-about {
        /* display: flex; */
        flex-direction: column;
    }

    #peza-opis {
        margin-left: 0px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 425px) {
    #peza-opis {
        width: 300px;
    }
}

@media screen and (max-width: 1100px) {
    .cta-buttons {
        flex-direction: column;
    }
}

/* #endregion */

/* #region PORTFOLIO STRANICE */

#portfolio-main {
    position: relative;
}

.portfolio-sites-main {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.portfolio-sites-main h2 {
    margin-top: 55px;
    padding: 20px;
    font-size: 60px;
    font-weight: 500;
}

.portfolio-sites-main h3 {
    padding-bottom: 20px;
    font-size: 40px;
}

.portfolio-sites-main h4 {
    font-size: 25px;
    padding-bottom: 10px;
}

.portfolio-sites-main p {
    font-size: 20px;
    padding-bottom: 10px
}

.portfolio-sites-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 55px;
}

.portfolio-sites-services {
    margin-bottom: 20px;
}


/* #region bmw.html */

body {
    background-color: #001d3d;
}

/* #endregion bmw.html */

/* #region Yamaha početak*/

.center-img {
    width: 100%;
    min-width: 320px;
    max-width: 420px;
    height: auto;
    object-position: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .center-img {
        object-fit: contain;
    }
}

/* #endregion Yamaha kraj */

/* #endregion PORTFOLIO STRANICE */

/* #region Kontakt početak*/

.kontakt-main {
    position: relative;
}

.kontakt-bg {
    background-image: url('./Slike/kontakt-bg.webp');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontakt-bg p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.footer-kontakt {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

.footer-div-kontakt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
    position: relative;
}

.google-api-container-kontakt {
    margin: 0px;
    padding: 0px;
}

.google-api-kontakt {
    height: 400px;
    width: 100%;
}

.copyright-kontakt {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin: 0 auto;
}

/* #endregion Kontakt kraj */

/* #region usluge.html početak */
.usluge-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usluga-section {
    height: 400px;
    width: 85%;
    background-color: black;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.usluga-section-larger {
    height: 600px;
    width: 85%;
    background-color: black;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.usluga-section:first-child {
    margin-top: 100px;
}

.usluga-section-div h3 {
    padding: 20px;
    font-family: monospace;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 10px 10px;
    color: white;
}

#usluga-1 {
    background-image: url('./Slike/usluga-light-2.webp');
}

#usluga-2 {
    background-image: url('./Slike/usluga-standard.webp');
}

#usluga-3 {
    background-image: url('./Slike/usluga-deluxe.webp');
}

#usluga-4 {
    background-image: url('./Slike/usluge-farovi-bg-3.webp');
    opacity: 0;
}

/* #region Početak CSS-a za button 'Detaljnije' na usluge.html */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

#pogledajte-portfolio-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: gray;
    color: white;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 25px;
    max-width: 300px;
    margin-top: 30px;
    margin-bottom: 100px
}

/* #endregion Kraj CSS-a za dugme 'Detaljnije' unutar usluge.html */

/* #endregion usluge.html kraj */

/* #region index.html main */

.index-main {
    background-image: url('./Slike/zatamnjenaPozadinav2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.8);
}

.main-text h1 {
    font-size: 60px;
    font-weight: 400;
}

.main-text h2 {
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 40px;
}

.main-text button a {
    text-decoration: none;
    color: #36395A;
    font-size: 20px;
}

#usluga-4-index {
    background-image: url('./Slike/usluge-farovi-bg-3.webp');
    margin-bottom: 100px;
}

#btn-index:hover {
    background-color: white;
}

#usluge-h3 {
    margin-top: 100px;
    color: white;
    font-family: monospace;
    font-size: 50px;
    font-weight: 400;
}

.usluga-section-div ul {
    padding: 20px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    text-shadow: 10px 10px 10px #000000, -10px -10px 10px #000000;
}

.usluga-section-div ul h4 {
    font-size: 25px;
}

.usluga-section-div ul h5 {
    font-size: 15px;
    text-indent: 20px;
}

/* #endregion */

.fade-in {
    opacity: 0;
    transition: 1s ease-in;
}

.fade-in-visible {
    opacity: 1 !important;
}